html, body {
	padding: 0px;
	margin: 0px;
}

body {
	margin: 8pt;
	overflow-x: hidden;
}

header {
	position: relative;
}

#main {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

#logo {
	display: inline-block;
	
	padding: 4pt 12pt 4pt 12pt;
	margin-right: 24pt;
	
	line-height: 1;
	
	border: 8pt solid #A6A8AB;
}

#logo h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 48pt;
	margin-top: 0px;
	margin-bottom: 0px;
	
	color: #00ADEF;
}

header h1 {
	display: inline-block;
}

footer {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 10pt;
}

/* projects */

input[type="submit"], button {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	
	font-size: 16pt;
	color: black;
	
	background-color: LightGray;
	border: 4px solid gray;
}

input[type="submit"]:hover, button:hover {
	border-color: black;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

p a:link, p a:visited {
	text-decoration: none;
	color: gray;
}

p a:hover {
	color: black;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	
	font-size: 48pt;
	color: black;
	
	margin-top: 8pt;
	margin-bottom: 8pt;
}

ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

p {
	margin-top: 8pt;
	margin-bottom: 8pt;
}

#error {
	display: none;
	width: 100%;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	font-weight: 400;
	color: white;
}

.error {
	padding: 10pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	
	background-color: #E04D6B;
}

.error:hover {
	background-color: LightGray;
}

#tags {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	margin-top: 8pt;
	
	padding: 2pt 8pt 2pt 8pt;
}

#acct {
	position: absolute;
	top: 0;
	right: 0;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	font-weight: 900;
	color: LightGray;
}

#attr a:link, #attr a:visited {
	text-decoration: none;
	color: gray;
}

div, input {
	margin: 0;
	padding: 0;
}

#add-project {
	margin-top: 10pt;
	margin-bottom: 8pt;
	
	color: white;
	background-color: darkgray;	
}
#add-project:hover {
	color: white;
	background-color: gray;
}

#project {
	margin-bottom: 16pt;
	display: none;
}

#images {
	padding: 10pt;
	
	margin-top: 48pt;
}

#dropbox {
	margin-top: 1px;
	min-height: 180px;
	width: 40%;
	display: inline-block;
	
	background-color: LightGray;
	position: relative;
}

#dropbox.dropover {
	background-color: #29BE27;
}

#query {
	font-size: 24pt;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	margin-top: 8pt;
	
	border: 8pt solid lightgray;
    padding: 2pt 8pt 2pt 8pt;
    
    color: black;
    font-weight: 900;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    
    width: 100%;
}

#query:focus {
	outline: none;
	border-color: gray;
}

.ui-corner-all {
    border-radius: 0px;
}
.ui-widget-content {
    border: 8pt solid lightgray;
    padding: 0px;
}
.ui-menu .ui-menu-item, .ui-menu .ui-menu-item a {
    font-size: 18pt;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.ui-menu .ui-state-focus {
    background-image: none;
    background-color: darkgray;
    color: white;
}

.ui-widget-content .ui-state-default {
	background-image: none;
    background-color: lightgray;
    color: black;
}

#title {
	font-size: 24pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	margin-top: 12px;
	margin-bottom: 12px;
	
	width: 84%;
}

#description {
	font-size: 12pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	width: 58.5%;
	min-height: 180px;
	resize: none;
	
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
	float: right;
}

#submit {
	font-size: 24pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	
	margin-top: 10px;
	margin-bottom: 6px;
	
	padding-left: 8px;
	padding-right: 8px;
	
	width: 14.5%;
	float: right;
}

#fileselect {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: gray;
	
	font-size: 18pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	
	padding: 10pt;
}

#members {
	margin-bottom: 8pt;
	width: 100%;
}

#members .member, #member {
	margin-top: 4pt;
	width: 100%;
	display: block;
	margin-right: 0;
	
	vertical-align: middle;
}

#member_name, #members .name {
	font-size: 20pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	display: inline-block;
	width: 35%;
	
	padding: 0;
	background-color: white;
	color: black;
}

#member_contact, #members .contact {
	font-size: 20pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	display: inline-block;
	width: 56%;
	
	margin-left: 1%;
	margin-right: .5%;
	
	padding: 0;
	background-color: white;
	color: black;
}

#add_member, #members .remove {
	display: inline-block;
	width: 5%;
	
	float: right;
}

#filters {
	margin-top: 16pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	
	display: none;
}

#filters .tags {
	text-align: left;
}

#filters .tag {
	display: inline-block;
	
	background-color: LightGray;
	margin-left: 0;
	margin-right: 8pt;
	margin-bottom: 8pt;
	
	padding: 2pt 8pt 2pt 8pt;
	
	color: black;
}

.clear {
	clear: both;
}

/* Projects list */

.test {
	padding-top: 2%;
}

.title {
	font-size: 24pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	
	background-color: LightGray;
	
	padding-left: 1%;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-right: 1%;
	
	margin-bottom: 2pt;
}

.title .save {
	color: #E04D6B;
	
	font-size: 14pt;
}

.title .edit {
	color: white;
	font-weight: 400;
	float: right;
}

.title .edit:hover {
	color: black;
}

.images {
	line-height: 1;
	max-width: 1200px;
	
	display: inline-block;
}

.images.single {
	display: block;
	float: left;
	
	margin-right: 16pt;
	margin-bottom: 16pt;
}

#projects {
	margin-top: 10pt;
}

.tags {
	clear: both;
	
	font-size: 20pt;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	
	margin-top: 8pt;
	margin-bottom: 8pt;
	
	text-align: right;
}

.tag, .tag:link, .tag:visited {
	margin-left: 16pt;
	color: gray;
}

.tag:hover {
	color: black;
}

.image {
	display: inline-block;
	max-width: 280px;
	overflow: hidden;
}
.image:hover {
	cursor: pointer;
}

.image-large {
	width: 100%;
}
.image-large:hover {
	cursor: pointer;
}

.image img {
	width: 100%;
	display: block;
}

.description {
	vertical-align: top;
	
	margin-left: 8pt;
	margin-right: 8pt;
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.25;
}

.members {
	margin-top: 8pt;	
	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	font-weight: 400;
}

.member {
	display: inline;
	margin-right: 8pt;
}

.member .info {
	display: inline-block;
	margin-bottom: 8pt;
}

.member .name {
	display: inline-block;
	
	padding: 2pt 8pt 2pt 8pt;
	background-color: LightGray;
}

.member .name:hover {
	background-color: gray;
	color: white;
}

.member .contact {
	display: inline-block;
	
	padding: 2pt 8pt 2pt 8pt;
	background-color: darkgray;
	color: white;
}

.member .contact:hover {
	background-color: gray;
	color: white;
}

#projects .member .check, #projects .member .verified {
	display: inline-block;
	
	padding: 2pt 8pt 2pt 8pt;
	background-color: LightGray;
	color: black;
	
	text-align: center;
}

#projects .member .check:hover {
	background-color: gray;
	color: white;
	
	cursor: pointer;
}