<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>

<meta name="author" content="Eric Leong" />

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">

<link href="{{ STATIC_URL }}css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.0.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pj.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10903805-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<title>Cooper Union Projects</title>

</head>

<body>

<header>
	<a href="http://cooperstartup.com">
		<span id="logo">
			<h1>CUES</h1>
		</span>
	</a>

	<h1><a href="http://projects.cooperstartup.com">Cooper Union Projects</a></h1>
	
	<div id="acct"><a href="{% if user.is_authenticated %}logout{% else %}login{% endif %}">{% if user.is_authenticated %}logout{% else %}login{% endif %}</a></div>
</header>

<div id="main">

	{% if user.is_authenticated %}
	{% spaceless %}
	<form id="project">
		<input type="text" name="title" id="title" tabindex="1" maxlength="140" placeholder="project title"/>
		
		<input type="submit" id="submit" tabindex="9" value="post"></input>
		
		<div id="members">
			<ul id="members_list"></ul>
			<div id="member">
				<input type="text" id="member_name" tabindex="2" maxlength="140" placeholder="member name"/>
				<input type="text" id="member_contact" tabindex="3" maxlength="256" placeholder="contact info"/>
				<button tabindex="4" id="add_member">+</button>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<textarea id="description" tabindex="7" placeholder="description"></textarea>
	
		<div id="dropbox">
			<input type="file" id="fileselect" name="files[]" multiple tabindex="6" />
			
			<div id="images"></div>
		</div>
		
		<ul id="tags" tabindex="8" placeholder="tags" ></ul>
	</form>
	{% endspaceless %}
	{% endif %}
	
	<ul id="error"></ul>
	
	<ul id="projects"></ul>

</div>

<footer><a href="http://ericleong.me">by eric leong</a></footer>

</body>
</html>